#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    // Rooms mute audio, Rooms mute video, Zoom mute audio, Zoom mute video
    &kp LA(M) &kp LA(V) &kp M &kp V &kp K_MUTE
            >;
        };
    };
};
